.navData{
  display: flex;
  flex-direction: column;
}
.navData .lines li{
  margin: 10px 10px;
}
#logo{
 display: flex;
 justify-content: center;
}
#search{
 display: flex;
 justify-content: center;
}
.Pdata{
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}